<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<app-header-with-search></app-header-with-search>

<div class="main-content">

    <div class="main-header">
        <label class="book-text">Books </label>
        <label class="items">(16 Items )</label>
        <select class="selectBox">
            <option>Sort By Relevance</option>
            <option>Price:Low to High</option>
            <option>Price:High to Low</option>
            <option>Newest Arrivals</option>
        </select>
    </div>

    <div class="main">
        <div class="book" *ngFor="let item of bookList | filter:searchKey:'bookName'" (click)="onClickBook(item.bookId)" >
                <div class="image-content">
                    <button class="book-button">
                        <img class="image" src= {{item.bookImages}} >
                    </button>
                </div>
                <div class="book-name row-content"> {{item.bookName}} </div>
                <div class="author-name row-content">{{item.bookAuthor}}</div>
                <div class="row-content">
                    <div class="rating">
                        <span class="rating-text">4.5<span class="star">*</span></span>
                    </div>
                    <div class="rating-number">(20)</div>
                </div>
                <div class="row-content">
                    <div class="price">Rs. {{item.bookPrice}}</div>
                    <div class="original-price">Rs.2000</div>
                </div>
            </div>

        </div>
        <div class="button-row-content ">
            <button class="circle-button page-button">></button>
            <button class="page-button" (click)="clickPageOne()">1</button>
            <button class="page-button" (click)="clickPageTwo()">2</button>
            <button class="circle-button page-button"><</button>
        </div>
</div>