<app-header-with-search></app-header-with-search>
<div class="full-page">
    <div class="link">
        Home/ <span class="book-no">Book(1)</span>
    </div>
    <div fxLayout="row" class="book-info">
        <div fXLayout="row" fxFlex="40" class="book-image">
            <div fxLayout="column" fxFlexOffset="25" fxFlex="35" class="small-image">
                <div class="front-image img">
                    <img src={{model.bookImages}} alt="">
                </div>
                <div class="back-image img">
                    <img src="assets/book-info/Image46.png" alt="">
                </div>
            </div>
            <div class="big-image" fxLayout="column">
                <div>
                    <img class="big-img" src={{model.bookImages}} alt="">
                </div>
                <div class="cart-wishlist-button" fxLayout="row" fxLayoutAlign="space-between center">
                    <button fxFlex="45" class="cart-btn" (click)="addBookToCart()" >ADD TO BAG</button>
                    <button fxFlex="45" class="wishlist-btn"> <img class="heart-icon" src="assets/book-info/heart.svg"
                            alt=""> WISHLIST</button>
                </div>
            </div>
        </div>
        <div fxLayout="column" class="about-book" fxFlexOffset="4" fxFlex="50">
            <div class="book-name">
               {{model.bookName}}
            </div>
            <div class="author-name">
               {{model.bookAuthor}}
            </div>
            <div class="rating-review" fxLayout="row" fxLayoutGap="5px">
                <div class="rating"> {{model.bookRating}} <mat-icon class="rating-star">star</mat-icon> </div>
                <div class="review">(20)</div>
            </div>
            <div class="price-div" fxLayout="row" fxLayoutAlign="start center">
                <div class="offer-price">Rs. {{ model.bookPrice}} </div>
                <div class="actual-price">Rs. 2000</div>
            </div>
            <div>
                <hr class="line">
            </div>
            <div class="book-detail" fxLayout="column">
                <div class="book-detail-text">Book Detail</div>
                <div class="book-detail-para"> {{ model.bookDescription}} </div>
            </div>
            <div>
                <hr class="line">
            </div>
            <div class="cust-feedback">
                Customer Feedback
            </div>
            <div class="rating-and-form" fxLayout="column">
                <span class="overall-text">Overall rating</span>
                <div class="rating-star"><mat-icon *ngFor="let _ of [].constructor(5)">star_border</mat-icon></div>
                <div class="text-box" fxFlex="100">
                    <textarea class="feedback-box" cols="72" rows="4" placeholder="Write your review"></textarea>
                </div>
                <div class="submit" fxLayoutAlign="end end">
                    <button class="sub-btn">Submit</button>
                </div>
            </div>

            <!-- <div class="comment-section" fxLayout="row">
                <div>
                    <span class="person-name-logo">AC</span>
                </div>
                <div class="comment" fxFlex="" fxLayout="column">
                    <div class="person-name">Aniket Chile</div>
                    <div class="person-rating">* * * * *</div>
                    <div class="comment-text">Good product. Even though the translation could have been better,
                        Chanakyas neeti are thought provoking. Chanakya has written on many different topics and his
                        writings are succinct.</div>
                </div>
            </div>

            <div class="comment-section" fxLayout="row">
                <div>
                    <span class="person-name-logo">SB</span>
                </div>
                <div class="comment" fxFlex="" fxLayout="column">
                    <div class="person-name">Shweta Bodkar</div>
                    <div class="person-rating">* * * * *</div>
                    <div class="comment-text">Good product. Even though the translation could have been better,
                        Chanakya's neeti are thought provoking. Chanakya has written on many different topics and his
                        writings are succinct.
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>