<div class="header">
    <div class="spacer">
        <span class="spacer"></span>
    </div>
    <div class="logo" routerLink="/dashboard">
        <div class="logo-image"><img src="assets/book-info/education.svg"></div>
        <span class="logo-text">Bookstore</span>
    </div>
    <div class="spacer-between">
        <span class="spacer-between"></span>
    </div>
    <div class="search-div">
        <input type="text" class="search-box" placeholder="Search">
    </div>
    <div class="spacer">
        <span class="spacer"></span>
    </div>
    <div class="profile">
        <mat-icon [mat-menu-trigger-for]="profileMenu" >person_outline</mat-icon>
        <div class="cart-text" > {{personName || 'Profile'}} </div>
        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item routerLink="/profile" >Profile</button>
            <button mat-menu-item>My Orders</button>
            <button mat-menu-item>My Wishlist</button>
            <button class="logout" mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
    <div class="spacer-between">
        <span class="spacer-between"></span>
    </div>
    <div class="cart-logo">
        <img src="assets/book-info/supermarket.svg" routerLink="/my-cart">
        <div class="cart-text">Cart</div>
    </div>
</div>