<div class="header">
    <div class="spacer">
        <span class="spacer"></span>
    </div>
    <div class="logo">
        <div class="logo-image"><img src="assets/book-info/education.svg" alt=""></div>
        <span class="logo-text">Bookstore</span>
    </div>
    <div class="spacer-between">
        <span class="spacer-between"></span>
    </div>
    <div class="search-div">
        <input type="text" class="search-box" placeholder="Search">
    </div>
    <div class="spacer">
        <span class="spacer"></span>
    </div>
    <div class="profile">
        <img class="profile-svg" src="assets/book-info/profile1.svg" alt="">
        <div class="cart-text">Profile</div>
    </div>
    <div class="spacer-between">
        <span class="spacer-between"></span>
    </div>
    <div class="cart-logo">
        <img src="assets/book-info/supermarket.svg" alt="">
        <div class="cart-text">Cart</div>
    </div>
</div>