<title>User Login</title>
 <div class="background-box">
    <div class="image-form-box">
        <div>
            <img class="image" id="1" src="assets/images/loginimg.png"> 
            <div class="image-text">Online Book Shopping</div>         
        </div>
        <div class="form-content">
            <form class="form">
                <div class="form-head row-content">
                    <div class="login-text">Login</div>
                    <div class="sign-text">Signup</div>
                </div>
                <div>
                    <label class="label-text row-content" for="fullname" >Full Name</label>
                    <input class="input row-content" type="text" id="fullname" name="fullname">

                    <label class="label-text row-content" for="email" >Email Id</label>
                    <input class="input row-content" type="text" id="email" name="email">

                    <label class="pass-label-text row-content" for="password" >Password</label>
                    <input class="input row-content" type="text" id="password" name="password">

                    <label class="label-text row-content" for="mobile" >Mobile Number</label>
                    <input class="input row-content" type="text" id="mobile" name="mobile">
                </div>
                <div class="row-content">
                    <button type="submit" class="submitButton sign-button-text" id="submitButton" >Signup</button>
                </div>
            </form>
        </div>
    </div>
 </div>
