
<app-header-with-search></app-header-with-search>

<div>
    <label class="label-text row-content" for="fullname" >Full Name</label>
    <input class="input row-content" type="text" id="fullname">

    <label class="label-text row-content" for="email" >Email Id</label>
    <input class="input row-content" type="email" id="email" name="email"> 

    <label class="pass-label-text row-content" for="password" >Password</label>
    <input class="input row-content" type="password" id="password" >
    

    <label class="label-text row-content" for="mobile" >Mobile Number</label>
    <input class="input row-content" type="number" id="mobile" name="mobile">
    
</div>
