<app-header-with-search></app-header-with-search>
<div class="heder">
  <div>
      <img class="image" src="/assets/images/donation.png" alt="">
  </div>
  <div class="text">
      Hurray!!! Your donation request received successfully. <br> Our representative will call you for confirmation. 
      <br> Please wait till further communication.
  </div>
  <table>
      <thead>
          <th>Email Us</th>
          <th>Contact Us</th>
          <th>Address</th>
      </thead>
      <tbody>
          <td>sisodiyanandini091&#64;gmail.com</td>
          <td>+91 9999999999</td>
          <td>
              42, 14th Main, 15th Cross, Sector 4,<br> opp to BDA complex,HSR Layout, Bangalore 560034
          </td>
      </tbody>
  </table>
  <button mat-button class="button" routerLink="/dashboard" >
    <div class="button-text">
       Continue Shopping
    </div>
  </button>
  </div>

  <div class="footer" style="position: absolute, margin-left 30px">
    Copyright &copy; 2025 Story-Shelf Private Limited All Rights Reserved
  </div>


