

<div class="container">
  <div class="mt-5">
    <h5><span class="text-muted">Home</span><span class="font-weight-bold"> / My Wishlist</span></h5>



  </div>


<div >
  <mat-toolbar class="containt">My Wishlist(02)</mat-toolbar>
  <mat-card class="example-card">
    <img class="mt-3" mat-card-sm-image width="20" height="30" src="/assets/images/Image20.png" >
    <div class="col-12 row mt-3">
    <div class="col-10">
      <mat-card-title-group class="ml-5">


          <mat-card-title class="font-weight-normal">Don't Make Me Think</mat-card-title>
          <mat-card-subtitle>
            <small class="text-muted">by streve king</small>
            <p>Rs 1500 <span><small class="text-muted"><s>Rs2000</s></small></span></p>

          </mat-card-subtitle>
        </mat-card-title-group>

    </div>
    <div class="col-2 titele-icon-width">
      <mat-card-content class="mt-4  " >
          <i class="material-icons">delete</i>

   </mat-card-content>

    </div>
    </div>







</mat-card>


  <mat-card class="example-card">
    <img class="mt-3" mat-card-sm-image width="20" height="30" src="/assets/images/Image36.png" >
    <div class="col-12 row mt-3">
    <div class="col-10">



    <mat-card-title-group class="ml-5">

      <mat-card-title class="font-weight-normal">React Material-UI</mat-card-title>
      <mat-card-subtitle>
        <small class="text-muted">by Cookbook</small>
        <p>Rs 780 <span><small class="text-muted"><s>Rs1000</s></small></span></p>

      </mat-card-subtitle>
    </mat-card-title-group>






   </div>
    <div class="col-2 titele-icon-width">


  <mat-card-content class="mt-4  titele-icon-width" >
    <i class="material-icons">delete</i>


</mat-card-content>
    </div>
    </div>


  </mat-card>






</div>
</div>
<footer class="footer"> <small class="footer-text">Copyright © 2022, Bookstore Private Limited. All Rights Reserved</small></footer>
