<app-header-with-search></app-header-with-search>
<div class="whole-page">
    <div class="page-content" fxLayout="column" fxFlexOffset="11" fxFlex="50">

        <div class="cart-path" fxLayout="row"><span class="home-text">Home /</span><span class="cart-text"> My cart</span></div>

        <div class="cart-box" fxLayout="column">
            <div class="cart-count-loc" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="cart-count">My Cart (1) 
                </div>
                <div class="location-box" fxFlex="30">
                    <select name="location" id="" class="location-tab" >
                    <option value="" class="select-text">Use Current Location</option>
                    <option value="">Mumbai</option>
                    <option value="">Goa</option>
                </select></div>
            </div>

            <div class="book-details" fxLayout="row">
                <div class="book-image">
                    <img src="assets/images/dontMakeMeThink.png" alt="">
                </div>

                <div class="book-info" fxLayout="column">
                    <div class="book-name">Dont Make me think</div>
                    <div class="author">Author Name</div>
                    <div class="price-tag" fxLayout="row" >
                        <div class="price">Rs. 1500</div>
                        <div class="actual-price">Rs. 2000</div>
                    </div>
                </div>
            </div>

            <div class="quantity-adjustment" fxLayout="row" >
                <button class="minus-button">-</button>
                <button disabled>1</button>
                <button class="minus-button" (click)="addOneQuantity()" >+</button>
                <div class="remove-button">Remove</div>
            </div>
        </div>
      


    </div>
   

</div>
