<app-header-with-search [cartNo]="cartValue"></app-header-with-search>
<div class="whole-page">
    <div class="page-content" fxLayout="column" fxFlexOffset="11" fxFlex="50">

        <div class="cart-path" fxLayout="row"><span class="home-text">Home /</span><span class="cart-text"> My
                cart</span></div>

        <div class="cart-box" fxLayout="column">
            <div class="cart-count-loc" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="cart-count">My Cart ( {{cartValue}} )
                </div>
                <div class="location-box" fxFlex="30">
                    <!-- 
                    <mat-select class="location-tab">
                        <mat-option>
                            <mat-icon>location_on</mat-icon> Current Location</mat-option>
                        <mat-option>Mumbai</mat-option>
                        <mat-option>Goa</mat-option>
                    </mat-select> -->
                    <select name="location" id="" class="location-tab"> -->
                        <option value="" class="select-text"> Use Current Location</option>
                        <option value="">Mumbai</option>
                        <option value="">Goa</option>
                    </select>
                </div>
            </div>

            <div class="all-books" *ngFor="let book of books">
                <div class="book-details" fxLayout="row">
                    <div>
                        <img class="bk-image" src= {{book.bookImages}} alt="">
                    </div>

                    <div class="book-info" fxLayout="column" fxFlexOffset="7">
                        <div class="book-name"> {{book.bookName}} </div>
                        <div class="author"> {{book.bookAuthor}} </div>
                        <div class="price-tag" fxLayout="row" fxFlexAlign="start center">
                            <div class="price">Rs. {{book.bookPrice * book.inCartQuantity}} </div>
                            <div class="actual-price" fxFlexAlign="center">Rs. 2000</div>
                        </div>
                        <div class="book-quantity author">Available Quantity : {{book.availableBookQuantity - book.inCartQuantity}} </div>
                    </div>

                </div>
                <div class="quantity-adjustment" fxLayout="row">
                    <button class="minus-button btn" fxFlexOffset="18"
                       [disabled]="book.inCartQuantity == 1" (click)="decreaseOneQuantity(book.bookId)">-</button>
                    <button disabled class="btn"> {{book.inCartQuantity}} </button>
                    <button class="minus-button btn plus"
                        [disabled]="book.inCartQuantity == book.availableBookQuantity "
                        (click)="addOneQuantity(book.bookId)">+</button>
                    <button class="remove-button" (click)="removeBook(book.bookId)" >Remove</button>
                </div>
            </div>

            <div class="place-order-btn">
                <button class="place-order" fxFlexOffset="70" (click)="placeOrder()" >PLACE ORDER</button>
            </div>

        </div>
    </div>
</div>